<form name="setup-database" method="POST" action="#save/database">
    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <label class="label">Username</label>
        </div>
        <div class="field-body">
            <div class="field">
                <div class="control">
                    <input class="input" type="text" name="db-username" placeholder="username"{% if section.USERNAME %} value="{{ section.USERNAME }}"{% endif %} />
                </div>
            </div>
        </div>
    </div>
    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <label class="label">Password</label>
        </div>
        <div class="field-body">
            <div class="field">
                <div class="control">
                    <input class="input" type="password" name="db-password" placeholder="secret" />
                </div>
            </div>
        </div>
    </div>
    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <label class="label">Host</label>
        </div>
        <div class="field-body">
            <div class="field">
                <div class="control">
                    <input class="input" type="text" name="db-host" placeholder="localhost"{% if section.HOST %} value="{{ section.HOST }}"{% endif %} />
                </div>
            </div>
        </div>
    </div>
    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <label class="label">Port</label>
        </div>
        <div class="field-body">
            <div class="field">
                <div class="control">
                    <input class="input" type="number" name="db-port" placeholder="3306"{% if section.PORT %} value="{{ section.PORT }}"{% endif %} />
                </div>
            </div>
        </div>
    </div>
    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <label class="label">Name</label>
        </div>
        <div class="field-body">
            <div class="field">
                <div class="control">
                    <input class="input" type="text" name="db-name" placeholder="cms"{% if section.NAME %} value="{{ section.NAME }}"{% endif %} />
                </div>
            </div>
        </div>
    </div>
    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <label class="label">Table prefix</label>
        </div>
        <div class="field-body">
            <div class="field">
                <div class="control">
                    <input class="input" type="text" name="db-prefix" placeholder="x"{% if section.PREFIX %} value="{{ section.PREFIX }}"{% endif %} />
                </div>
            </div>
        </div>
    </div>

    <div class="field is-horizontal">
        <div class="field-label">
            <!-- Left empty for spacing -->
        </div>
        <div class="field-body">
            <div class="field">
                <div class="control">
                    <button class="button is-primary">Verify</button>
                    <button class="button is-secondary">Save</button>
                </div>
            </div>
        </div>
    </div>
</form>
