{% extends "_layout/default.twig" %}

{% block meta_description %}{% endblock %}

{% block title %}Setup{% endblock %}

{% block contents %}
    <h1 class="title"><span class="icon"><i class="fas fa-gear" aria-hidden="true"></i></span>&nbsp;Setup</h1>
    <div class="columns">
        <div class="column is-one-third">
            <div class="tabs is-fullwidth is-medium is-vertical">
                <ul>
                    {% for section in registry|keys %}
                    <li class="" id="setup-{{ section }}" data-target="setup-{{ section }}-target">
                        <a class="button is-inverted is-radiusless{% if registry.setup['IS_SET_' ~ section|upper] %} is-success{% endif %}">
                            <span class="icon"><i class="fas fa-{{ icons[section] }}" aria-hidden="true"></i></span>
                            <span>{{ descriptions[section] }}</span>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="column">
            {% for key, section in registry %}
            <div id="setup-{{ key }}-target" class="is-hidden tab-content">
                <h2 class="title">{{ key | capitalize }}</h2>
                {% include '_module/form/setup-' ~ key ~ '.twig' with { 'section': section } only %}
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block footer %}
<script type="text/javascript" src="/js/setup.js?v={{ asset_version }}"></script>
{% endblock %}
