{% extends "_layout/default.twig" %}

{% block meta_description %}{% endblock %}

{% block title %}Setup{% endblock %}

{% block contents %}
    <h1 class="ui center aligned icon header">
        <i class="settings icon"></i>
        <div class="content">SETUP</div>
    </h1>
    <div class="ui grid container">
        <div class="five wide column">
            <div class="ui fluid vertical steps" id="setup-container">
                {% for section in registry|keys %}
                <div class="{% if registry.setup['IS_SET_' ~ section|upper] %}completed {% endif %}link step" id="setup-{{ section }}">
                    <i class="{{ icons[section] }} icon"></i>
                    <div class="content">
                        <div class="title">{{ section | capitalize }}</div>
                        <div class="description">{{ descriptions[section] }}</div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="eleven wide column">
            <div class="ui raised very padded loading segment">
                {% for key, section in registry %}
                <div class="hidden" id="setup-{{key}}-container">
                    <h2 class="ui header">{{ key | capitalize }}</h2>
                    {% include '_module/form/setup-' ~ key ~ '.twig' with { 'section': section } only %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
<div>{{ user.email }} - {{ user.picture }}</div>
<script type="text/javascript" src="/js/setup.js?v={{ asset_version }}"></script>
{% endblock %}
